
.coreSpriteSearchIcon{
	position: absolute;
	top: 10px;
	left: 70px;
	background-image: url("https://instagram.com/static/bundles/metro/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png");
    background-size: 410px 396px;
    background-position: -240px -366px;
    height: 20px;
    width: 20px;
}
.homeIcon{
    position: absolute;
	top: 10px;
	left: 70px;
	background-image: url("https://instagram.com/static/bundles/metro/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png");
    background-size: 410px 396px;
    background-position: -240px -366px;
    height: 20px;
    width: 20px;
}