$color-active-blue: #2474f0;
$color-inactive-blue: rgba(var(--b38,219,219,219),1);
$color-black: #262626;
$color-firstname: rgba(var(--f52,142,142,142),1);
$color-username: rgba(var(--i1d,38,38,38),1);
$default-font-size: 0.9rem;